<strong>Prezado, {{ name }}</strong>
<p>Atenção a entrega abaixo foi cancelada: </p>
<p>
  <Strong>Código da entrega: </Strong>  {{ code }} <br />
  <Strong>Problema: </Strong>  {{ problem }} <br />
  <Strong>Data de Cancelamento: </Strong>  {{ canceleddate }} <br />
</p>
